<app-header></app-header>
<body>
    <div class="welcome">
        <img src="../../../assets/homepage-1.jpg">
        <h1>NLP Revolution</h1>
    </div>  
    <div class="cards">
        <div class="card">
            <div class="h-text">
            <h1>Curs 1</h1>
            </div>
            <div class="card-image">
                <img src="../../../assets/mockup-img.jpg">
            </div>
            <div class="p-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        </div>
        <div class="card">
            <div class="h-text">
            <h1>Curs 2</h1>
            </div>
            <div class="card-image">
                <img src="../../../assets/mockup-img.jpg">
            </div>
            <div class="p-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        </div>
        <div class="card">
            <div class="h-text">
            <h1>Curs 3</h1>
            </div>
            <div class="card-image">
                <img src="../../../assets/mockup-img.jpg">
            </div>
            <div class="p-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        </div>
    </div> 

   
      
    <app-footer></app-footer> 
</body>

