<body>
  <div class="left">
    <h3><b>LOCATION</b></h3>
    <h3>Intrarea Lacauti nr 2B</h3>
    <h3>Ploiesti, Prahova</h3>
  </div>

  <span class="spacer"></span>

  <div class="center">
    <h2>Copyright ©Gabriela Alina Zvirid.</h2>
    <h3>All rights reserved.</h3>
  </div>

  <span class="spacer"></span>

  <div class="right">
      <div class="text">
        <h3><b>Contact us</b></h3>
        <p><b>Tel.</b>0738039938</p>
        <p><b>Email.</b>zvirida6@gmail.com</p>
      </div>
    <div class="images">
        <a href="https://www.facebook.com/"><img src="../../../assets/facebook.png" /></a>
        <a href="https://www.instagram.com/"><img src="../../../assets/instagram.png" /></a>
        <a href="https://www.tiktok.com/"><img src="../../../assets/tiktok.png" /></a>
        <a href="https://www.youtube.com/"><img src="../../../assets/youtube.png" /></a>
    </div>
  </div>
</body>
